@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

.logo {
    max-height: 30px;
  }


#footer{
    background-color: black;
}
.py-4 a{
    color: #CDCDCD;
}
.py-4 p{
    color: white;
}
.py-4 h4{
    color: white;
}

  